
html,body{

    font-family: Roboto,sans-serif;

 } 

.image{

    background-image: url("bg.jpeg");
 
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
     width: 100%;

}

.image-image{
    margin-top: 6%;
    margin-bottom: 17%;
}

.content{
    padding:10px;
}

.f{
    padding-top: 20px;
    padding-bottom: 20px;
    bottom:0px;
    width:100%;
 
    border-top:1.5px solid black;
    background-color: #d3d3d3;
    position:relative;
    text-decoration: none;
    height:60px;

}
